.welcomeTitle {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}
.welcomeText {
    font-size: 16px;
}
@media screen and (max-width: 768px) {
        .welcomeText {
    font-size: 16px;
    }
}
@media screen and (max-width: 375px) {
        .welcomeText {
    font-size: 16px;
    }
}
.myPicture {
    float: right;
}
@media screen and (max-width: 768px) {
        .myPicture {
    margin-top: 10%;
    }
}
.indexTitle {
    margin-top: 2%;
    font-family: Raleway;
    font-weight: bold;
    font-size: 30;
    color: black;
}
@media screen and (max-width: 375px) {
        .indexTitle {
    font-size:25px;
    }
}
@media screen and (max-width: 768px) {
        .indexTitle {
    margin-top: 5%;
    }
}
@media screen and (max-width: 768px) {
        .visitSiteBtn {
    margin-top: 5px;
    }
}
.container {
    background-color: white;
    box-shadow: 10px 10px 5px;
}
.backgroundColor {
    background-color: slategray;
}

.mainContainer {
    padding-top: 50px;
}
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: left;
        width: 30%;
        font-size: 14px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: left;
    }
}
.mobileImage {
    margin-left: -2%;
    margin-top: 5%;
}
@media screen and (max-width: 768px) {
        .mobileImage {
    margin-left: 2%;
    }
}
@media screen and (max-width: 768px) {
        .tabletImage {
    margin-top: 5%;
    }
}
.mobileDescrip {
    margin-top: 5%;
    font-size: 16px;
}
@media screen and (min-width: 550px) and (max-width: 768px) {
        .mobileDescrip {
    margin-top: 10%;
    font-size: 16px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
        .mobileDescrip {
    margin-left: 15%;
    margin-top: -5%;
    margin-bottom: 2%;
    font-size: 18px;
    }
}
.arrow {
    height: 50px;
    width: auto;
    visibility: hidden;
}
@media screen and (max-width: 768px) {
    .arrow {
        width: 15%;
        height: auto;
        visibility: hidden;
    }
}
.contentDescrip {
    font-size: 16px;
    margin-top: 3%;
}
@media screen and (max-width: 768px) {
        .contentDescrip {
    font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
        .contentDescrip {
    margin-top: 8%;
    }
}
.footerWell {
    background-color: white;
    font-family: Raleway;
}
#contactDialog {
    font-size: 20px;
}   
.weather {
    font-size: 16px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

