.welcomeTitle {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}
.welcomeText {
    font-size: 16px;
}
@media screen and (max-width: 768px) {
        .welcomeText {
    font-size: 16px;
    }
}
@media screen and (max-width: 375px) {
        .welcomeText {
    font-size: 16px;
    }
}
.myPicture {
    float: right;
}
@media screen and (max-width: 768px) {
        .myPicture {
    margin-top: 10%;
    }
}
.indexTitle {
    margin-top: 2%;
    font-family: Raleway;
    font-weight: bold;
    font-size: 30;
    color: black;
}
@media screen and (max-width: 375px) {
        .indexTitle {
    font-size:25px;
    }
}
@media screen and (max-width: 768px) {
        .indexTitle {
    margin-top: 5%;
    }
}
.container {
    background-color: white;
    box-shadow: 10px 10px 5px;
}
.backgroundColor {
    background-color: slategray;
}

.mainContainer {
    padding-top: 50px;
}
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: left;
        width: 30%;
        font-size: 14px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: left;
    }
}
.mobileImage {
    margin-left: -2%;
    margin-top: 5%;
}
@media screen and (max-width: 375px) {
        .mobileImage {
    margin-left: 2%;
    }
}
.tabletImage {
    margin-top: 3%;
    height: 50%;
    width: auto;
}
@media screen and (max-width: 768px) {
        .tabletImage {
    height: 30%;
    width: auto;
    margin-top: 5%;
    }
}
@media screen and (max-width: 375px) {
        .tabletImage {
    float: right;
    }
}
.mobileDescrip {
    margin-top: 5%;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
        .mobileDescrip {
    font-size: 11px;
    margin-top: 1%;
    }
}
@media screen and (max-width: 600px) {
        .mobileDescrip {
    font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .mobileDescrip {
        font-size: 12px;
        margin-top: 12%;
    }
}
.arrow {
    height: 50px;
    width: auto;
    visibility: hidden;
}
@media screen and (max-width: 600px) {
    .arrow {
        width: 15%;
        height: auto;
        visibility: visible;
    }
}
.projectText {
    margin-left: 2%;
    margin-top: 5%;
    font-family: Raleway;
    font-size: 16px;
}
@media screen and (max-width: 600px) {
        .projectText {
    font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
        .projectText {
    font-size: 12px;
    }
}
.contentDescrip {
    font-size: 16px;
    margin-top: 8%;
}
@media screen and (max-width: 600px) {
        .contentDescrip {
    font-size: 12px;
    }
}
.footerWell {
    background-color: white;
    font-family: Raleway;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

